/* General Styling */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  height: 10vh;
  padding: 0 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styling for Divs in Toolbar */
.firstdiv {
  display: flex;
  align-items: center;
}

.firstdiv .logo {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.firstdiv .brand-name {
  display: block;
  font-family: "Product Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 28px;
  overflow: hidden;
  padding-left: 8px;
  position: relative;
  text-overflow: ellipsis;
  top: -1.5px;
  // vertical-align: middle;
  color: #5f6368;
  opacity: 1;
}

.seconddiv {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.seconddiv .search-container {
 
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 650px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 0 8px;
  
}

.seconddiv .search-icon-button {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.seconddiv .search-icon {
  width: 20px;
  height: 20px;
}

.seconddiv .search-input {
  width: 100%;
  padding: 8px 8px 8px 60px; /* Leaves space for the icon */
  border: 1px solid #ccc;
  border-radius: 2.5vh;
  height: 4vh;
  font-size: 14px;
  
}

.thirddiv {
  display: flex;
  gap: 10px;
}

.favorite-icon {
  color: red;
}

/* Side Navigation Bar Styling */
mat-sidenav {
  width: 250px;
  background-color: #fafafa;
  // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.static-sidenav{
  border: none;
}
mat-nav-list {
  padding: 0;
}

.sidenav-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: background-color 0.3s, transform 0.2s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 2vh;
}

.sidenav-item img {
  margin-right: 16px;
  width: 3.5vh;
  height: 3.5vh;
  display: inline-block;
}

.sidenav-item span {
  display: inline-block;
  vertical-align: middle;
  height: 3.5vh;
  margin-top: -1.5vh;
}

.sidenav-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
  cursor: pointer;
}
.sidenav-item:active{
  background-color: #ddeb1f; // Highlight background
  border-left: 4px solid #1976d2; // Blue border to indicate selection
}
/* Content Styling */
.content {
  padding: 16px;
  background-color: #fafafa;
  min-height: 85vh;
}

/* Responsive Styling */
@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }

  .seconddiv .search-container {
    width: 80%;
  }
}
