<mat-toolbar>
  <div class="firstdiv">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="toggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img
      class="logo"
      src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
      alt="Logo"
      role="presentation"
    />
    <span class="brand-name">FundooNotes</span>
  </div>
  <div class="seconddiv">
    <div class="search-container">
      <button mat-icon-button class="search-icon-button" aria-label="Search">
        <img
          src="../../../assets/search.png"
          alt="Search Icon"
          class="search-icon"
        />
      </button>
      <input matInput placeholder="Search" value="" class="search-input" />
    </div>
  </div>

  <div class="thirddiv">
    <button mat-icon-button class="favorite-icon" aria-label="Favorite">
      <img src="../../../assets/refresh-icon.png" alt="" />
    </button>
    <button mat-icon-button aria-label="Share">
      <img src="../../../assets/listview-icon.png" alt="" />
    </button>
    <button mat-icon-button aria-label="Share">
      <img src="../../../assets/settings-icon.png" alt="" />
    </button>
  </div>
  <div>
    <button mat-icon-button class="example-icon">
      <img src="../../../assets/apps-icon.png" alt="menuicon" />
    </button>
    <button
      mat-icon-button
      class="example-icon"
      style="background-color: darkviolet; color: #fff"
    >
      <h4>S</h4>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Static sidenav always open -->
  <!-- <mat-sidenav
    #sidenav
    mode="side"
    (mouseenter)="hoverSidenav(true)"
    (mouseleave)="hoverSidenav(false)"
    [ngStyle]="{ width: isHovered ? '250px' : '60px' }"
    [opened]="true"
    class="static-sidenav"
  >
    <mat-nav-list>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/notes-icon.png"
          alt="Notes"
        />
        <span *ngIf="isHovered">Notes</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/remainder-icon.png"
          alt="Remainders"
        />
        <span *ngIf="isHovered">Remainders</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/editlabels-icon.png"
          alt="Edit Labels"
        />
        <span *ngIf="isHovered">Edit Labels</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/archive-icon.png"
          alt="Archive"
        />
        <span *ngIf="isHovered">Archive</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/trash-icon.png"
          alt="Trash"
        />
        <span  *ngIf="isHovered">Trash</span>
      </a>
    </mat-nav-list>
  </mat-sidenav> -->

  <mat-sidenav
    #staticSidenav
    mode="side"
    [opened]="true"
    class="static-sidenav"
    (mouseenter)="hoverSidenav(true)"
    (mouseleave)="hoverSidenav(false)"
    [ngStyle]="{
      width: isSidenavOpen ? '250px' : isHovered ? '250px' : '60px'
    }"
  >
    <mat-nav-list>
      <a mat-list-item class="sidenav-item" [routerLink]="'/dashboard/notes'">
        <img
          class="sidenav-icon"
          src="../../../assets/notes-icon.png"
          alt="Notes"
        />
        <span *ngIf="isHovered">Notes</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/remainder-icon.png"
          alt="Remainders"
        />
        <span *ngIf="isHovered">Remainders</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/editlabels-icon.png"
          alt="Edit Labels"
        />
        <span *ngIf="isHovered">Edit Labels</span>
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/dashboard/archive'">
        <img
          class="sidenav-icon"
          src="../../../assets/archive-icon.png"
          alt="Archive"
        />
        <span *ngIf="isHovered">Archive</span>
      </a>
      <a mat-list-item class="sidenav-item">
        <img
          class="sidenav-icon"
          src="../../../assets/trash-icon.png"
          alt="Trash"
        />
        <span *ngIf="isHovered">Trash</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="content"
    [ngStyle]="{
      'margin-left': isSidenavOpen ? '250px' : '60px'
    }"
  >
    <!-- Your content here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
