<div class="outer">
  <div class="inner">
    <mat-progress-bar mode="indeterminate" *ngIf="bar == true"></mat-progress-bar>
    <div class="container">
      <div class="content">
        <img src="../../../assets/logo.png" alt="Logo" />
        <h1>Forgot Password</h1>
        <p>Enter your phone number or email</p>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form"> -->
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email or Phone</mat-label>
              <input matInput placeholder="Email or Phone" formControlName="Email"/>
            </mat-form-field>
          </p>
          <div class="btn">
            <button mat-flat-button color="primary" >
              Submit
            </button>
          </div>
        <!-- </div> -->
      </form>
    </div>
  </div>
</div>
