.outer{
    width: 100vw;
    height: 100vh;
    background-color: #F0F4F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 70%;
    height: 50%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 30px;
    // display: flex; /* Enables Flexbox */
    // justify-content: center; /* Aligns content horizontally */
    // align-items: center; /* Aligns content vertically */
    // gap: 20px; /* Adds spacing between .content and .from */
    padding: 20px; /* Adds inner padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better aesthetics */
}
.container{
    display: flex;
    // gap: 20px;

}
.content, form {
    flex: 1; 
    padding: 20px; 
}
.content{
    line-height: 2.5rem;
}
form{
    height: 45vh;
    display: flex   ;
    flex-direction: column ;
    justify-content:space-between;
    
}

h1{
    font-size: 36px;
    color: #1f1f1f;
}
.content p{
    font-size: 16px;
    color: #1f1f1f;
}

.content{
    padding: 20PX;
}

p,button{
    display: block;
}

mat-form-field{
    width: 100%;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
button{
    width: 20%;
    
}
img{
    height: 7vh;
    width: auto;
  }

  mat-progress-bar{
    margin-top: -19px;
    margin-bottom: 19px;
    border-radius: 5px;
    width: 100%; 
  }

  