<div class="outer">
  <div class="inner">
    <div class="container">
      <div class="content">
        <h1>Forgot Password</h1>
        <p>Enter your phone number or recovery email</p>
      </div>
      <div class="form">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="Email or Phone" />
          </mat-form-field>
        </p>
        <div class="btn">
            <button mat-flat-button color="primary" (click)="onSubmit()">
                Submit
            </button>
        </div>
        
      </div>
    </div>
    <!-- <div class="bottom">
      <button mat-flat-button color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div> -->
  </div>
</div>
