<div class="outer">
  <mat-card appearance="outlined" class="inner1" *ngIf="!condition">
    <div class="container">
      <div class="addnote" (click)="toggleCondition()">Take a notes...</div>
      <div class="icons">
        
          <img
            class="icons"
            src="../../../assets/new-list-icon.png"
            alt="Remainders"
          />
        
        
          <img
            class="icons"
            src="../../../assets/brush-icon.png"
            alt="Remainders"
          />
        
        
          <img
            class="icons"
            src="../../../assets/image-icon.png"
            alt="Remainders"
          />
        
      </div>
    </div>
  </mat-card>

  <mat-card appearance="outlined" class="inner2" *ngIf="condition" #matCard>
    <div class="container2">
      <form [formGroup]="addNotesForm">
        <div class="top">
          <textarea
            class="title"
            rows="1"
            (input)="adjustTextareaHeight($event)"
            placeholder="Title"
            style="overflow: hidden; resize: none"
            formControlName="title"
          ></textarea>

          <button class="btn">
            <img
              class="icons"
              src="../../../assets/keep-icon.png"
              alt="Keep"
            />
          </button>
        </div>
        <div class="note">
          <textarea
            class="description"
            rows="1"
            (input)="adjustTextareaHeight($event)"
            placeholder="Take a note..."
            style="overflow: hidden; resize: none"
            formControlName="description"
          ></textarea>
        </div>
      </form>
      <div class="bottom">
        <div class="right">
          <app-app-icons></app-app-icons>
          <!--  -->
            <img
              class="icons"
              src="../../../assets/undo-icon.png"
              alt="Remainders"
            />
          <!-- 
           -->
            <img
              class="icons"
              src="../../../assets/redo-icon.png"
              alt="Remainders"
            />
          <!--  -->
        </div>
        <div class="left">
          <button mat-flat-button (click)="toggleCondition()">Close</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
