<div class="container">
  <div class="icons">
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/remaind-me-icon.png"
        alt="Remainders"
      />
    </button>
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/collaburator-icon.png"
        alt="Remainders"
      />
    </button>
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/image-icon.png"
        alt="Remainders"
      />
    </button>
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/new-list-icon.png"
        alt="Remainders"
      />
    </button>
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/archive-icon.png"
        alt="Remainders"
      />
    </button>
    <button mat-icon-button>
      <img
        class="sidenav-icon"
        src="../../../assets/more-icon.png"
        alt="Remainders"
      />
    </button>
  </div>
</div>
