<!-- <div class="container"> -->
<div class="icons">
  <img class="icons" src="../../../assets/remaind-me-icon.png" alt="remaind" />

  <img
    class="icons"
    src="../../../assets/collaburator-icon.png"
    alt="collaburator"
  />

  <img
    class="icons"
    src="../../../assets/paint-icon.png"
    alt="paint"
    [matMenuTriggerFor]="colourmenu"
  />

  <img class="icons" src="../../../assets/image-icon.png" alt="image" />

  <img
    class="icons"
    src="../../../assets/archive-icon.png"
    alt="archive"
    (click)="onArchive()"
  />

  <img
    class="icons"
    src="../../../assets/more-icon.png"
    alt="moremenu"
    [matMenuTriggerFor]="moremenu"
  />
</div>

<mat-menu #moremenu="matMenu">
  <button mat-menu-item (click)="onTrash()">Delete Note</button>
  <button mat-menu-item>Add label</button>
  <button mat-menu-item>Add drawing</button>
  <button mat-menu-item>Make a copy</button>
  <button mat-menu-item>Show checkboxes</button>
</mat-menu>
<!-- <mat-menu #colourmenu="matMenu" xPosition="before" id="colorPalette" >
  <div *ngFor="let color of colorsArr">
    <button 
    mat-menu-item 
    [style.background]="color.code" 
    (click)="onTrash()" 
    [attr.aria-label]="'Color: ' + color.name" 
    [title]="color.code">
    {{ color.name }}
  </button>
  </div>

</mat-menu> -->
<mat-menu
  #colourmenu="matMenu"
  xPosition="before"
  class="customize"
  
>
  <div *ngFor="let color of colorsArr" class="color-item">
    <button
      mat-icon-button
      class="colorIcon"
      [style.background]="color.colorCode"
      matTooltip="{{ color.colorName }}"
      (click)="selectColour(color.colorCode)"
    ></button>
  </div>
</mat-menu>

<!-- </div> -->
