img {
  width: 20px;
}
img:hover {
  transform: scale(1.2); // Slight zoom effect on hover
  background-color: rgba(0, 0, 0, 0.2); // Add background color on hover
  border-radius: 50%; // Make the image background circular
}
.icons {
  font-family: "Roboto", arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5vw;
}

.color-palate-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 16vw;
  padding: 4px 12px;
  border-radius: 8px;
}

